.Rproj.user
.Rhistory
.RData
.Ruserdata
*.html
*.sav
*.csv
*.R_
*.txt
*bookmark*
google_occurence.R
helper2.R
lmer.R
old.R
rsconnect
scribble.R
test.R
thomas
packrat/lib*/
*.png
*.aux
*.bcf
*.blg
*.log
*.run.xml
README.pdf
README.tex
README_biber.bib
bib_script.R
mimosa-logo.zip
paper.pdf
paper.tex
paper_biber.bib
*.odt
logo/
# {shinytest2}: Ignore new debug snapshots for `$expect_values()`
*_.new.png
.Rdata
.httr-oauth
.DS_Store
.quarto
docs/
